@import './a.css';

@font-face {
	font-family: 'MyFont';
	src:  url('../assets/font/icomoon.woff') format('woff');
				/* url('./my-font.woff') format('woff'); */
	font-weight: 600;
	font-style: normal;
}

.hello {
	color: red;
	/* background: url('../assets/img/icon.png'); */
	font-family: 'MyFont';
}
  